.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-card {
    margin: 30px 20px 20px 30px;
    flex: 1 1 300px;
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}