.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login-form {
    width: 50%;
}

.login-image {
    width: 50%;
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}